[submodule "SBOL DB Server"]
	path = SBOL DB Server
	url = https://github.com/tofuman0/SBOL-DB-Server.git
[submodule "SBOL Battle Server"]
	path = SBOL Battle Server
	url = https://github.com/tofuman0/SBOL-Battle-Server.git
[submodule "Libraries/BlowFishSBOL"]
	path = Libraries/BlowFishSBOL
	url = https://github.com/tofuman0/BlowFishSBOL.git
